---
layout: store
title: Samsung A-Frame Demos
---

<h1>Samsung A-Frame Demos</h1>

<!-- Features to add:
	Dyanmically set 360 image preview in the surroundings for gearVR.
	Have a VR mode where you can try on the experiences.
 -->

{% for page in site.pages %}
{% if page.meta %}
<div data-image-preview="{{ page.image }}" data-360-preview="{{ page.image }}" class="store-item">
	<figure class="store-icon">
		<a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ site.baseurl }}/{{ page.meta }}/icon512.png" />
	<span class="caption">{{ page.title }}</span></a></figure>
	<span class="description">{{ page.description }}</span>
</div>
{% endif %}
{% endfor %}